<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>InCaseOfEmergency Map</title>

  <!-- CSS is on /static/style.css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div id="search">
    <div class="input-group mb-3">
      {{ searchform.location(class_="form-control") }}
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">Search</button>
      </div>
    </div>
  </div>

  <div align="center" id="googleMap"></div>

  <h1>Updates:</h1>
  <ul>
    {% for eq in earthQuakeList %}
    <li>{{eq.time_string() + " : " + eq.title}}</li>
    {% endfor %}
  </ul>

  <br>

  <form action="/subscribe" method="POST">
    {{ mailingform.email.label }} {{ mailingform.email }}
    {{ mailingform.location.label }} {{ mailingform.location }}
    {{ mailingform.magnitude.label }} {{ mailingform.magnitude }}
    <input type=submit value=subscribe>
  </form>

  <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Dublin, Ireland" aria-label="Dublin, Ireland" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
      </div>
    </div>
  <a href="/realtime.html">realtime feed</a>
</body>

<script>
    function myMap() {
    var center = new google.maps.LatLng({{ center.latitude }}, {{ center.longitude }});

    var mapProp = {
      center: center,
      zoom: 5,
      mapTypeControl: false,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var earthquakes = JSON.parse({{ earthquakes| tojson }});

    // if (earthquakes.length > 1) {
    //   map.fitBounds(bounds);
    // }
    // var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < earthquakes.length; i++) {
      // var position = new google.maps.LatLngBounds(earthquakes[i].latitude, earthquakes[i].longitude);
      var marker = new google.maps.Marker({
        position: { lat: earthquakes[i].latitude, lng: earthquakes[i].longitude },
        map: map,
        title: earthquakes[i].title,
      });
      // bounds.extend(position);
    }
    // map.fitBounds(position);

    var circle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.15,
      map: map,
      center: center,
      radius: 100 * 1000,
    });
  
    };   
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=myMap"></script>


</html>