<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>InCaseOfEmergency Map</title>

  <!-- CSS is on /static/style.css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1 align ="center">Earthquakes</h1>
  <div class = "nav">
    <form action="/earthquake" method="POST">
      {{ form.location.label }} {{ form.location }}
      {{ form.submit }}
    </form>
  </div>

  <div align ="center" id="googleMap" style="width:100%;height:400px;"></div>

  <script>
    function myMap() {
    var mapProp= {
      center:new google.maps.LatLng(51.508742,-0.120850),
      zoom:5,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    //Used as a marker example
    var marker = new google.maps.Marker({
      position: {lat: -33.890542, lng: 151.274856},
      map: map,
      title: 'Bondi Beach'
    });
    //This for loop cancells out the map for some reason
    //
    //for(var i = 0; i<{{earthQuakeList.length}}; i++){
    //  {{earthQuakeList[i]}} = new google.maps.Marker({
    //    position: {lat: {{earthQuakeList[i]}}.latitude, lng: {{earthQuakeList[i]}}.longitude},
    //    map: map,
    //    title: {{earthQuakeList[i]}}.place
    //  });
    //}
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=myMap"></script>

  <h1>Updates:</h1>
    <ul>
      {% for earthquake in earthQuakeList %}
        <li>{{ earthquake.timestring, earthquake.magnitude, earthquake.title }}</li>
      {% endfor %}
    </ul>

</body>
</html>
